* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #000;
  line-height: 1.47em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.page-wrap {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}
.subheading {
  padding: 24px 0;
  margin: 36px 0;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
h1 {
  font-size: 3.2em;
  margin: 48px 0 24px;
  font-weight: 100;
  color: #336d6d;
}
h2 {
  font-size: 1.5em;
  margin: 12px 0;
}
h3 {
  font-size: 1.2em;
  margin: 12px 0 24px;
  font-family: "Roboto Slab", "Georgia", serif;
}
h4 {
  font-size: 1em;
  margin: 24px 0 6px;
  font-family: "Roboto Slab", "Georgia", serif;
  font-weight: 300;
}
hr {
  border: none;
  border-top: 1px solid #e2e2e2;
  margin: 36px 0;
}
a {
  color: #336d6d;
}
p {
  margin: 12px 0;
}
ul {
  margin: 12px 0;
}
ul.horizontal {
  overflow: auto;
  zoom: 1;
}
ul.horizontal li {
  float: left;
  margin: 0 24px 0 0;
}
ul.horizontal li:last-child {
  margin: 0;
}
footer {
  margin: 36px 0 0 0;
  padding: 0 36px;
  background-color: #e2e2e2;
  border-top: #999;
  color: #444;
}



.item {
  width: 100%;
  padding: 12px 36px 48px;
}
.frame {
  display: block;
  line-height: 0;
  border: 1px solid #e2e2e2;
  background-color: #fafafa;
}
.thumb {
  width: 100%;
  padding: 6px;
}
.caption {
  margin: 6px 0;
}



.light {
  color: #999;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clearfix {
  clear: both;
  overflow: auto;
  zoom: 1;
}



form {
  width: 90%;
  max-width: 500px;
  margin: 0 auto 48px;
}
form a {
  color: #73adad;
  text-decoration: none;
}
label a {
  margin-left: 12px;
}
input, textarea {
  display: block;
  margin-bottom: 24px;
  font-size: 1.2em;
  color: #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
input:disabled, textarea:disabled {
  color: #999 !important;
  -webkit-text-fill-color: #999 !important;
}
label {
  margin-top: 24px;
  font-family: "Roboto Slab", "Georgia", serif;
  color: #999;
}
.text-input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  padding: 6px 0;
  box-shadow: 0 0 0 1000px white inset;
}
.text-input:focus {
  border-bottom: 1px solid #73adad;
}
.focus {
  color: #73adad;
}
input[type=submit] {
  font-family: "Roboto Slab", "Georgia", serif;
  background-color: #73adad;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0;
  padding: 6px 12px;
  width: 70%;
  margin: 48px auto 0;
}
input[type=submit]:focus {
  outline: 1px solid #73adad;
}
.form-message {
  font-family: "Roboto Slab", "Georgia", serif;
  padding: 0 12px;
  width: 70%;
  margin: 48px auto 0;
  display: none;
}
#form-success {
  border: 3px solid #73adad;
}
#form-error {
  border: 3px solid #ad7373;
}
#form-invalid {
  margin: 24px auto;
  text-align: center;
}
#form-invalid p {
  color: #ad7373;
}
.invalid {
  color: #ad7373;
}



@media screen and (min-width: 35.5em) {
  .contact {
    float: right;
  }
  .item {
    width: 50%;
    float: left;
    padding: 12px 48px 48px;
  }
}



@media screen and (min-width: 64em) {
  .item {
    width: 33.33%;
    padding: 12px 36px 48px;
  }
}



@media print {
  h4 {
    margin-top: 0;
  }
  .item {
    padding: 12px 0;
    float: none;
    width: auto;
    clear: both;
    margin-bottom: 36px;
  }
  .frame {
    float: left;
    width: 25%;
    margin: 0 24px 24px 0;
  }
}

