* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #000;
  line-height: 1.47em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.page-wrap {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}
.subheader {
  padding: 24px 0;
  margin: 12px 0 36px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.headline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.headline h1 {
  line-height: 1;
}
.headline li {
  line-height: 1.47;
}
h1 {
  font-size: 3.2em;
  margin: 36px 24px 12px 0;
  font-weight: 100;
  color: #336d6d;
}
h1 a {
  text-decoration: none;
}
h2 {
  font-size: 1.5em;
  margin: 12px 0;
}
h3 {
  font-size: 1.2em;
  margin: 12px 0 24px;
  font-family: "Roboto Slab", "Georgia", serif;
}
h4 {
  font-size: 1em;
  margin: 24px 0 6px;
  font-family: "Roboto Slab", "Georgia", serif;
  font-weight: 300;
}
h5 {
  font-size: 1em;
  margin: 6px 0 6px 24px;
  font-family: "Roboto Slab", "Georgia", serif;
  font-weight: 300;
}
hr {
  border: none;
  border-top: 1px solid #e2e2e2;
  margin: 36px 0;
}
a {
  color: #336d6d;
}
a:focus {
  outline: none;
  color: #73adad;
}
p {
  margin: 12px 0;
}
ul {
  margin: 12px 0;
}
ul.bullet {
  list-style: square;
}
ul.horizontal {
  overflow: auto;
  zoom: 1;
}
ul.horizontal li {
  float: left;
  margin: 0 24px 0 0;
}
ul.horizontal li:last-child {
  margin: 0;
}
header li {
  white-space: nowrap;
}
footer {
  margin: 96px 0 0 0;
  padding: 0 36px;
  background-color: #e2e2e2;
  border-top: #999;
  color: #444;
}



.item {
  width: 100%;
  padding: 12px 36px 48px;
}
.frame {
  display: block;
  line-height: 0;
  border: 1px solid #e2e2e2;
  background-color: #fafafa;
}
.frame:focus {
  outline: none;
  border: 1px solid #73adad;
}
.thumb {
  width: 100%;
  padding: 6px;
}
.caption {
  margin: 6px 0;
}



form {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
form a {
  color: #73adad;
  text-decoration: none;
}
label a {
  margin-left: 12px;
}
input, textarea {
  -webkit-appearance: none;
  display: block;
  margin-bottom: 24px;
  font-size: 1.2em;
  color: #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
input:disabled, textarea:disabled {
  color: #999 !important;
  -webkit-text-fill-color: #999 !important;
}
label {
  margin-top: 24px;
  font-family: "Roboto Slab", "Georgia", serif;
  color: #999;
}
.text-input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  border-radius: 0;
  padding: 6px 0;
  box-shadow: 0 0 0 1000px white inset;
}
.text-input:focus {
  border-bottom: 1px solid #73adad;
}
.form-note {
  margin-left: 6px;
}
.focus {
  color: #73adad;
}
input[type=submit] {
  font-family: "Roboto Slab", "Georgia", serif;
  background-color: #73adad;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0;
  padding: 6px 12px;
  width: 70%;
  margin: 48px auto 6px;
  cursor: pointer;
}
input[type=submit]:focus, input[type=submit]:hover {
  outline: 1px solid #73adad;
}
.form-message {
  font-family: "Roboto Slab", "Georgia", serif;
  padding: 0 12px;
  width: 70%;
  margin: 48px auto 0;
  display: none;
}
#form-success {
  border: 3px solid #73adad;
}
#form-error {
  border: 3px solid #ad7373;
}
#form-invalid {
  margin: 24px auto;
  text-align: center;
}
#form-invalid p {
  color: #ad7373;
}
.invalid {
  color: #ad7373;
}



#resume h4 {
  color: #336d6d;
  font-weight: 400;
  margin: 36px 0 12px;
}
#resume h5 {
  color: #7d4343;
  font-weight: 400;
}
#resume ul {
  padding-left: 24px;
  margin-bottom: 24px;
}
#resume h5 + ul {
  padding-left: 48px;
}
#resume li {
  margin-top: 8px;
  margin-bottom: 8px;
}
#resume .horizontal li {
  margin-top: 0;
  margin-bottom: 6px;
}
#resume span, #resume a {
  white-space: nowrap;
}
#resume .clearfix + *, #resume .clearfix + ul > li {
  margin-top: 0;
}
#resume .horizontal + h4 {
  margin-top: 24px;
}
#resume h4 + .clearfix + h4 {
  margin-top: 12px;
}


.icon {
  display: inline-block;
  width: 1em;
  position: relative;
  bottom: -0.16em;
  margin-right: 0.25em;
}
.subheader a {
  color: #999;
  text-decoration: none;
}
.subheader a:hover {
  text-decoration: underline;
}



.light {
  color: #999;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clearfix {
  clear: both;
  overflow: auto;
  zoom: 1;
}






@media screen and (min-width: 35.5em) {
  footer .contact {
    float: right;
  }
  .item {
    width: 50%;
    float: left;
    padding: 12px 48px 48px;
  }
}



@media screen and (min-width: 64em) {
  .item {
    width: 33.33%;
    padding: 12px 36px 48px;
  }
}



@media print {
  h4 {
    margin-top: 0;
  }
  .item {
    padding: 12px 0;
    float: none;
    width: auto;
    clear: both;
    margin-bottom: 36px;
  }
  .frame {
    float: left;
    width: 25%;
    margin: 0 24px 24px 0;
  }
}

