#test {
  color: #AAA;
}
body {
  background-color: #121519;
  font-family: "Arial", sans-serif;
}
p {
  margin: 0;
}
.right {
  float: right;
}
.left {
  float: left;
}
.scoreboard {
  color: #eee;
  font-size: 1.5em;
  width: 547px;
  margin: 10px auto;
  overflow: auto;
}
#grid {
  border: 7px solid #577;
  background-color: #577;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 2em;
}
.cell {
  border: 3px solid #577;
  background-color: #DDB;
  width: 128px;
  height: 128px;
  text-align: center;
  vertical-align: middle;
}
.fresh {
  /*border: 3px solid #FF2;*/
  border: 3px solid #F00;
  border-radius: 10px;
}
.n256 {
  background-color: #F32;
}
.n128 {
  background-color: #F52;
}
.n64 {
  background-color: #F72;
}
.n32 {
  background-color: #F92;
}
.n16 {
  background-color: #FA2;
}
.n8 {
  background-color: #FB2;
}
.n4 {
  background-color: #FC2;
}
.n2 {
  background-color: #FD2;
}
