/*
 * yellow
  background-color: #d7bb62;
 * red
  background-color: #6c0e21;
 * brown / dark text
  background-color: #52451d;
 * green
  background-color: #134d4d;
 * light over green
  background-color: #c7efea;
 * saturated green
  background-color: #719494;
 * light blue
  background-color: #80bfd8;
 * medium blue
  background-color: #20344f;
 * dark blue
  background-color: #091930;
 * faded green
  background-color: #1f3a4b;
*/

/************************************************************** COLORS */
.yel {
  background-color: #c7ab52;
}
.blu {
  background-color: #20344f;
}
.grn {
  background-color: #134d4d;
}
.red {
  background-color: #6c0e21;
}
.blu-d {
  background-color: #091930;
}
.blu-f {
  background-color: #1f3a4b;
}
.gry {
  background-color: #719494;
}
.brn {
  background-color: #52451d;
}
.blu-p {
  background-color: #c7efea;
}
.blu-l {
  background-color: #80bfd8;
}

.inverted {
  color: #fcfcfc;
  background-color: #1c1c1c;
}



/*************************************************************** FONTS */

@font-face {
  font-family: 'Oxygen';
  src: url('oxygen/Oxygen.otf') format('opentype');
}
@font-face {
  font-family: 'Oxygen Bold';
  src: url('oxygen/Oxygen-Bold.otf') format('opentype');
}
strong {
  font-family: 'Oxygen Bold', 'Arial', sans-serif;
  font-weight: 700;
}
body {
  font-family: 'Oxygen', 'Arial', sans-serif;
}



/************************************************************ DEFAULTS */
html, body {
  height: 100%;
}
body {
  width: 100%;
  font-size: 100%;
  background-color: white;
  color: #222;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}



/************************************************************** LAYOUT */

#body {
  background-color: #fafafa;
  overflow: scroll;
}
#display {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#footer {
  position: absolute;
  bottom: 0;
  height: 43px;
  width: 100%;
}

@media screen and (min-width: 601px) {
  #display {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}



/************************************************************* TOUCHME */

.touchme {
  color: #fcfcfc;
  text-align: center;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
  background-image: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.08), transparent);
  display: block;
}
.touchme.flat {
  background-image: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.03), transparent);
}
.touchme:hover {
  background-image: none;
}



/*********************************************************** FRAME-NAV */

#frame-nav {
  position: relative;
  z-index: 1;
}
.view-link {
  line-height: 64px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.view-link:hover {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.view-link.left, .view-link.right {
  width: 50%;
  position: absolute;
  top: 0;
}
.view-link.left {
  padding-right: 40px;
  left: 0;
}
.view-link.right {
  padding-left: 40px;
  right: 0;
}
.view-link.center {
  position: relative;
  width: 80px;
  margin: 0 auto;
  z-index: 1;
}



/*************************************************************** INPUT */

.text-input {
  height: 43px;
  background-color: white;
  outline: none;
  border: 1px solid #80bfd8;
  border-left: none;
  border-right: none;
  line-height: 1.45;
  padding: 12px 15px;
}
.main-input {
  border-top: none;
  background-size: 23px 23px;
  background-position: right 15px top 12px;
  background-repeat: no-repeat;
  padding-right: 48px;
}
#new-item {
  background-image: url('../img/inbox.png');
}



/************************************************************* MESSAGE */

.text {
  line-height: 1.45;
  padding: 10px 15px;
}
.message {
  background-color: #609fd8;
  color: #fafafa;
}
.icon {
  width: 15px;
  margin: 5px;
}



/**************************************************************** LIST */

.query-link {
  color: #408fa8;
}
.query-link:hover {
  text-decoration: underline;
}
#list h1 {
  display: block;
  background-color: #333;
  color: #fafafa;
  font-weight: bold;
  height: 43px;
  line-height: 43px;
  padding: 0 15px;
}
#list li {
  margin: 0 10px;
  line-height: 1.45;
}
#list li + li {
  border-top: 1px solid rgba(0,0,0,0.2);
}
#list label {
  padding: 10px 0;
  display: block;
  margin: 0 10px 0 30px;
}
#list input[type=checkbox] {
  margin: 0 10px 0 -25px;
}



/********************************************************* STATUS-LINK */

.status-link {
  line-height: 43px;
  padding: 0 2%;
}
.status-link:hover {
  text-decoration: underline;
}
.status-link.active {
  color: #408fa8;
}


/*********************************************************** UTILITIES */

.inline-parent {
  font-size: 0;
}
.inline {
  display: inline-block;
  font-size: initial;
}

.left-just {
  text-align: left;
}
.right-just {
  text-align: right;
}
.center-just {
  text-align: center;
}

.right {
  float: right;
}
.left {
  float: left;
}



