doctype html
html(lang='en')

  head

    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,shrink-to-fit=no,viewport-fit=cover')

    title Nate Duffy — Software Engineer

    link(rel='canonical' href='https://www.nateduffy.com/')

    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-22869003-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-22869003-1');

    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=PT+Serif&display=swap')

    link(rel='stylesheet' href='dist/css/main.css')

    //- favicons
    link(rel='apple-touch-icon' sizes='180x180' href='favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='favicons/favicon-16x16.png')
    link(rel='manifest' href='favicons/site.webmanifest')
    link(rel='mask-icon' href='favicons/safari-pinned-tab.svg' color='#5bbad5')
    link(rel='shortcut icon' href='favicons/favicon.ico')
    meta(name='msapplication-TileColor' content='#073642')
    meta(name='msapplication-config' content='favicons/browserconfig.xml')
    meta(name='theme-color' content='#ffffff')

  body

    .content

      header(role='banner')

        h1 Nate Duffy,
        h2 Software Engineer

      main(role='main')

        p I'm a well-rounded, detail-oriented web developer currently specializing in content management systems and e-commerce.

        -
          var externalLinks = {
            'LinkedIn': 'https://www.linkedin.com/in/nathanpduffy/',
            'GitHub': 'https://github.com/nufftenthousand'
          }

        nav(role='navigation')
          ul.ls
            each url, name in externalLinks
              li: a.pick-me(href=url)= name

    script.
      function computeVH() {
        let vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty('--vh', `${vh}px`);
      }

      window.addEventListener('DOMContentLoaded', computeVH, false);
      window.addEventListener('resize', computeVH, false);
      window.addEventListener('orientationchange', computeVH, false);
