.deco {
  /*
  margin-top: 100px;
  height: 322px;
  width: 40%;
  background-image: linear-gradient(to bottom, $teal 1.5px, transparent 1.5px, transparent);
  background-size: 100% 32px;
  position: relative;
  */

  margin-top: 100px;
  background-image: linear-gradient(to bottom, $blue, $teal);
  overflow: auto;

  &__graphic {
    height: 208px;
    width: 208px;
    position: absolute;
    right: -4px;
    top: 120px;
  }
}
