@font-face { /* for IE */
  font-family: 'bloodwax';
  src: url('bloodwax/BLOODWAI.ttf');
}
@font-face { /* for IE */
  font-family: 'bloodwax';
  src: url(http://:/) format("No-IE-404"), url('bloodwax/BLOODWAI.ttf') format("truetype");
}
body {
  font-family: 'bloodwax';
  color: #2779AA;
}
#chassis { margin: 0 auto;
  position: relative;
  width: 933px;
  height: 583px;
  background-color: #E5E5E5;
  border: 1px solid black;
}

#screen {
  position: absolute;
  top: 41px;
  left: 66px;
  width: 800px;
  height: 500px;
  background-color: #AED0EA;
  border: 1px solid grey;
  overflow: hidden;
}
#timeDisp {
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 96pt;
}
#timeDisp p {
  margin: 0;
}
#timeDisp span {
  margin: 0;
}
#tod {
  font-size: 48pt;
}

#dateDisp {
  position: absolute;
  top: 150px;
  left: 30px;
  font-size: 28pt;
}
#dateDisp p {
  margin: 0;
}
#dateDisp span {
  margin: 0;
}

#nextAlarm {
  position: absolute;
  top: 196px;
  left: 30px;
  font-size: 28pt;
}
#nextAlarm p {
  margin: 0;
}
#nextAlarm span {
  margin: 0;
}

/****** Standard Passively-Selected Buttons ******/
.passive {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.passive li {
  margin: .2em;
}
.passive a {
  display: block;
}
.passive a:link, .passive a:visited {
  color: #2779AA;
  background-image: url("images/ui-bg_glass_80_d7ebf9_1x400.png");
  background-position: center;
  border: 1px solid #AED0EA;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}
.passive a:active {
  color: #FFFFFF;
  border: 1px solid #2694E8;
  background-image: url("images/ui-bg_glass_50_3baae3_1x400.png");
}

/****** Home-Options Buttons ******/
#homeOpts {
  position: absolute;
  top: 238px;
  left: 18px;
  font-size: 36pt;
}
#homeOpts .passive a {
  width: 450px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  text-align: left;
  text-indent: .5em;
  padding: 10px;
}


/****** Slide Out Alarm Options ******/
#alarmOpts {
  display: block;
  position: absolute;
  left: 750px;
  width: 200px;
  height: 500px;
}
#sideTab {
  display: block;
  width: 50px;
  height: 400px;
  position: absolute;
  top: 100px;
}
#sideTabMain {
  display: block;
  background-color: #EBF3FA;
  width: 50px;
  height: 300px;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#sideTabMain p {
  font-size: 16pt;
  width: 220px;
  position: absolute;
  left: -82px;
  top: 185px;
  writing-mode:tb-rl;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform: rotate(270deg);
}
.sliderArrow {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 75px;
  left: 14px;
}
#slideOut {
  background-image: url('images/slide_out.gif');
}
#slideIn {
  background-image: url('images/slide_in.gif');
}
#upperEdge {
  width: 50px;
  height: 50px;
  display: block;
  background-color: #EBF3FA;
}
#lowerEdge {
  width: 50px;
  height: 50px;
  display: block;
  background-color: #EBF3FA;
}
#upperCover {
  width: 50px;
  height: 50px;
  display: block;
  background-color: #AED0EA;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-bottomright: 25px;
  border-bottom-right-radius: 25px;
}
#lowerCover {
  width: 50px;
  height: 50px;
  display: block;
  background-color: #AED0EA;
  -webkit-border-top-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  border-top-right-radius: 25px;
}
#sidePannel {
  display: block;
  background-color: #EBF3FA;
  width: 150px;
  height: 500px;
  position: absolute;
  left: 50px;
}
#sidePannel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#sidePannel li {
  display: block;
  background-color: #AED0EA;
  width: 100px;
  height: 100px;
  margin: 50px 25px;
}
#vibe {
  background-image: url('images/vibe.gif');
}
#audio {
  background-image: url('images/audio.gif');
}
#coffee {
  background-image: url('images/coffee.gif');
}
.alarmOptSelect {
  outline: 5px solid #2779AA;
}

/****** Alarms Pannel ******/
#alarms {
  width: 800px;
  height: 260px;
  position: absolute;
  top: 500px;
}
#alarmsTab {
  display: block;
  background-color: #EBF3FA;
  width: 450px;
  height: 50px;
  position: absolute;
  left: 34px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
#alarmsTab p {
  margin: 8px 30px;
  font-size: 24pt;
}
#alarmsPannel {
  display: block;
  background-color: #EBF3FA;
  width: 800px;
  height: 220px;
  position: absolute;
  top: 40px;
}
#alarmsPannel p {
  position: relative;
  left: 410px;
}
#alarmsList {
  font-size: 16pt;
  list-style-type: none;
}
#alarmsList li {
  margin: 6px;
  width: 500px;
  border-bottom: 1px solid #AED0EA;
}
#alarmsList li a {
  text-decoration: none;
  float: right;
}
#alarmsList li a:link, #alarmsList li a:visited {
  color: #2779AA;
}
#alarmsList li a:active {
  color: #AED0EA;
}

#alarmsList li input {
  position: absolute;
  left: 412px;
}

/****** Set Time Pannel ******/
#setTime {
  width: 800px;
  height: 260px;
  position: absolute;
  top: 500px;
}
#setTimeTab {
  display: block;
  background-color: #EBF3FA;
  width: 450px;
  height: 50px;
  position: absolute;
  left: 34px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
#setTimeTab p {
  margin: 8px 30px;
  font-size: 24pt;
}

.timeUp {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.timeUp li a {
  display: block;
  width: 50px;
  height: 28px;
}
.timeUp li a:link, .timeUp li a:visited {
  background-image: url('images/up_arrow.gif');
  background-position: center;
}
.timeUp li a:active {
  background-image: url('images/up_arrow_sel.gif');
  background-position: center;
}
.timeDown {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.timeDown li a {
  display: block;
  width: 50px;
  height: 28px;
}
.timeDown li a:link, .timeDown li a:visited {
  background-image: url('images/down_arrow.gif');
  background-position: center;
}
.timeDown li a:active {
  background-image: url('images/down_arrow_sel.gif');
  background-position: center;
}
.hrUp {
  position: absolute;
  top: 25px;
  left: 105px;
}
.min10Up {
  position: absolute;
  top: 25px;
  left: 238px;
}
.min1Up {
  position: absolute;
  top: 25px;
  left: 326px;
}
.todUp {
  position: absolute;
  top: 66px;
  left: 415px;
  z-index: 1;
}
.hrDown {
  position: absolute;
  top: 154px;
  left: 100px;
}
.min10Down {
  position: absolute;
  top: 154px;
  left: 233px;
}
.min1Down {
  position: absolute;
  top: 154px;
  left: 321px;
}

#setTimePannel {
  display: block;
  background-color: #EBF3FA;
  width: 800px;
  height: 220px;
  position: absolute;
  top: 40px;
}
#setTimeDisp {
  position: absolute;
  top: 65px;
  left: 60px;
  font-size: 72pt;
}
#setTimeDisp p {
  margin: 0;
}
#setTimeDisp span {
  margin: 0;
}
#setTimetod {
  font-size: 36pt;
}

/****** Set Date Pannel ******/
#setDate {
  width: 800px;
  height: 260px;
  position: absolute;
  top: 500px;
}
#setDateTab {
  display: block;
  background-color: #EBF3FA;
  width: 450px;
  height: 50px;
  position: absolute;
  left: 34px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
#setDateTab p {
  margin: 8px 30px;
  font-size: 24pt;
}
#setDatePannel {
  display: block;
  background-color: #EBF3FA;
  width: 800px;
  height: 220px;
  position: absolute;
  top: 40px;
}
#setDateDisp {
  position: absolute;
  top: 65px;
  left: 60px;
  font-size: 48pt;
}
#setDateDisp p {
  margin: 0;
}
#setDateDisp span {
  margin: 0;
}

.monUp {
  position: absolute;
  top: 25px;
  left: 145px;
}
.dayUp {
  position: absolute;
  top: 25px;
  left: 355px;
}
.yearUp {
  position: absolute;
  top: 25px;
  left: 545px;
}
.monDown {
  position: absolute;
  top: 128px;
  left: 140px;
}
.dayDown {
  position: absolute;
  top: 128px;
  left: 350px;
}
.yearDown {
  position: absolute;
  top: 128px;
  left: 540px;
}

/****** Edit Alarm Pannel ******/
#editContainer {
  display: block;
  background-color: green;
  width: 1600px;
  height: 220px;
  position: absolute;
  top: 40px;
}

#editAlarm {
  width: 800px;
  height: 260px;
  position: absolute;
  top: 500px;
}
#editAlarmTab {
  display: block;
  background-color: #EBF3FA;
  width: 450px;
  height: 50px;
  position: absolute;
  left: 34px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
#editAlarmTab p {
  margin: 8px 30px;
  font-size: 24pt;
}
#editAlarmPannel {
  display: block;
  background-color: #EBF3FA;
  width: 800px;
  height: 220px;
}
#editAlarmDisp {
  position: absolute;
  top: 65px;
  left: 60px;
  font-size: 72pt;
}
#editAlarmDisp p {
  margin: 0;
}
#editAlarmDisp span {
  margin: 0;
}
#alarmtod {
  font-size: 36pt;
}

#editDaysPannel {
  display: block;
  background-color: #EBF3FA;
  width: 800px;
  height: 220px;
  position: absolute;
  left: 800px;
  top: 0px;
}
#editAlarmDisp {
  position: absolute;
  top: 65px;
  left: 60px;
  font-size: 72pt;
}

#touchDir {
  margin: 10px 0px 3px 50px;
}
#days {
  list-style-type: none;
  margin: 0px 22px;
  padding: 0;
}
#days li {
  margin: 3px;
  padding: 20px 0;
  font-size: 1.4em;
  display: block;
  float: left;
  text-align: center;
}
#days a {
  width: 100px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-position: center;
  text-align: center;
  padding: 4px 0px;
  text-decoration: none;
}
.daySelect {
  color: #FFFFFF;
  border: 1px solid #2694E8;
  background-image: url("images/ui-bg_glass_50_3baae3_1x400.png");
}
.dayDeselect {
  color: #AED0EA;
  border: 1px solid #AED0EA;
  background-image: url("images/ui-bg_glass_80_d7ebf9_1x400.png");
}
/*
#days a:link, #days a:visited {
  color: #FFFFFF;
  border: 1px solid #2694E8;
  background-image: url("images/ui-bg_glass_50_3baae3_1x400.png");
  background-position: center;
  text-align: center;
  padding: 4px 0px;
  text-decoration: none;
}
#days a:active {
  color: #AED0EA;
  border: 1px solid #AED0EA;
  background-image: url("images/ui-bg_glass_80_d7ebf9_1x400.png");
}
*/
#countdown {
  margin: 90px 0px 3px 50px;
}


/****** Some Buttons ******/
#more a {
  display: none;
  width: 200px;
  height: 33px;
  font-size: 24pt;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#more a:link, #more a:visited {
  color: #FFFFFF;
  background-image: url("images/ui-bg_glass_50_3baae3_1x400.png");
  background-position: center;
  border: 1px solid #2694E8;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}
#more a:active {
  color: #2779AA;
  border: 1px solid #AED0EA;
  background-image: url("images/ui-bg_glass_80_d7ebf9_1x400.png");
}

.done {
  position: absolute;
  top: 170px;
  left: 560px;
}
.done a {
  display: block;
  width: 200px;
  height: 33px;
  font-size: 24pt;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.done a:link, .done a:visited {
  color: #FFFFFF;
  background-image: url("images/ui-bg_glass_50_3baae3_1x400.png");
  background-position: center;
  border: 1px solid #2694E8;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}
.done a:active {
  color: #2779AA;
  border: 1px solid #AED0EA;
  background-image: url("images/ui-bg_glass_80_d7ebf9_1x400.png");
}

.back {
  position: absolute;
  top: 170px;
  left: 40px;
}
.back a {
  display: block;
  width: 200px;
  height: 33px;
  font-size: 24pt;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.back a:link, .back a:visited {
  color: #FFFFFF;
  background-image: url("images/ui-bg_glass_50_3baae3_1x400.png");
  background-position: center;
  border: 1px solid #2694E8;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}
.back a:active {
  color: #2779AA;
  border: 1px solid #AED0EA;
  background-image: url("images/ui-bg_glass_80_d7ebf9_1x400.png");
}

.new {
  position: absolute;
  top: 170px;
  left: 290px;
}
.new a {
  display: block;
  width: 200px;
  height: 33px;
  font-size: 24pt;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.new a:link, .new a:visited {
  color: #FFFFFF;
  background-image: url("images/ui-bg_glass_50_3baae3_1x400.png");
  background-position: center;
  border: 1px solid #2694E8;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}
.new a:active {
  color: #2779AA;
  border: 1px solid #AED0EA;
  background-image: url("images/ui-bg_glass_80_d7ebf9_1x400.png");
}
.close {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  left: 400px;
}
.close:link, .close:visited {
  background-image: url('images/close.gif');
}
.close:active {
  background-image: url('images/close_sel.gif');
}

#snooze {
  display: block;
  width: 800px;
  height: 500px;
  background-color: #ffef8f;
}
#slider-range{
  width: 450px;
  position: absolute;
  top: 350px;
  left: 175px;
}
#snooze p {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 400px;
  left: 300px;
}
#activate {
  position: fixed;
  bottom: 0;
}



.x {
  display: none;
}
