$blue: #16b;
$teal: #1ab;
$yellow: #fb2;
$bellow: #bf2;
$brown: #c61;
$pink: #fab;
$white: #f4f4f4;
$green: #6b1;
$green-alt: #1b6;
$black: #040404;
$dark: #404040;
$grey: #fafafa;
$clear: #fff;
$cloud: #f4f4f4;
$cloud: #fafafa;
$cloud: #f1fafb;
$cloud: #f1f6fb;
