@charset 'UTF-8';


/*	STRUCTURE
********************************/

#header {
	margin: 2em 3% 0;
}
#header span {
	padding-right: 1px;
}
#navi {
	margin: 0 3%;
}
#navi li {
	float: left;
	margin: 0 0.9em 1em 0;
}
#content {
	clear: both;
	padding: 1.2em 15%;
	margin: 1.2em 0 2em;
}
#content p {
	line-height: 1.1em;
}
.about_section p {
	margin: 0 0 0.5em 0;
}
#contact {
	margin: 0 3%;
}
#contact p {
	float: right;
	margin: 0 0 0 12px;
	padding: 0 0 0 10px;
}
#contact ul li {
	text-align: right;
}
#footer {
	clear: both;
	float: right;
	margin: 0 3% 3em;
}


/*	COLORS & STYLING
********************************/

body {
	background-color: #FAFAFA;
	font-family: 'Chivo', sans-serif;
}
h1{
	font-weight: 500;
	font-size: 6em;
}
h2 {
	font-weight: 500;
	font-size: 3.2em;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
p {
	font-size: 2em;
}
#navi {
	font-size: 2em;
}
#content {
	font-family: 'Arial', sans-serif;
	background-color: #FFF;
	color: #454545;
}
#contact {
	font-size: 1.2em;
}
#contact p {
	font-size: 3.2em;
	border-left: 1px solid grey;
	color: #454545;
}
.links li a {
	color: #63E45A;
}
.grey {
	color: #454545;
}
.blue {
	color: #524DFF;
}
.green {
	color: #63E45A;
}
.whisper {
	color: #DFDFDF;
}
.shadow {
	-moz-box-shadow: 0 0 20px #000000;
	-webkit-box-shadow: 0 0 20px #000000;
	box-shadow: 0 0 20px #000000;
}


/*	EVENTS
********************************/

a, p, h1, div, ul {
	transition: all ease-in-out 0.15s;
	-moz-transition: all ease-in-out 0.15s;
	-webkit-transition: all ease-in-out 0.15s;
}
.links a:hover {
	color: #524DFF;
}



/*	RESPONSIVENESSITIVITY
********************************/

@media screen and (max-width: 767px) {
	h1 {
		font-size: 5em;
	}
	#navi {
		margin: 0 3% 1em;
	}
	#navi li {
		float: none;
		margin: 0;
	}
	#content {
		padding: 1.2em 25px;
	}
}


@media screen and (max-width: 519px) {
	#contact p {
		font-size: 2.4em;
		border: none;
	}
	#contact ul {
		clear: both;
		float: right;
	}
	.whisper {
		font-size: 1.2em;
	}
	#footer {
		margin: 0.5em 3% 1em;
	}
}




