/*ORIGINAL COLORS: "#6d6c4c", "#7d929a", "#792e3b", "#222342", "#d3c2a8", "#d96841", "#c92e3f", "#f5dfa9"*/


/*	DOCUMENT
********************************/


/*	FONTS
********************************/
@font-face {
	font-family: "Rockwell Bold";
	src: url('fonts/rockb.ttf');
	/* TODO: fucking IE */;
}
@font-face {
	font-family: "Cardo";
	src: url('fonts/Cardo.ttf');
	/* TODO: fucking IE */;
}
@font-face {
	font-family: "Cardo Bold";
	src: url('fonts/Cardob.ttf');
	/* TODO: fucking IE */;
}
@font-face {
	font-family: "Cardo Italic";
	src: url('fonts/Cardoi.otf');
	/* TODO: fucking IE */;
}


/*	TEXT
********************************/
body {
	font-family: "Cardo", "Palatino";
	font-weight: 100;
}
strong {
	font-family: "Cardo Bold";
}
a {
	font-family: "Cardo Italic";
	text-decoration: none;
	color: #f5dfa9;
}
p {
	font-size: 2.2em;
	line-height: 1.15em;
	color: #332208;
}
#header h1 a {
	font-family: "Rockwell Bold";
	font-size: 8em;
	color: #332208;
	outline: 1px 1px #f5dfa9;
}
.nav a {
	font-size: 2.2em;
}
#content a {
	color: #332208;
}
#footer {
	font-family: "Cardo Bold";
	font-size: 1.2em;
	color: #332208;
}


/*	BACKGROUNDS & BORDERS
********************************/
body {
	background-color: #6d6c4c;
	background-image: url('discow4.png');
	background-size: 110%;
	background-repeat: repeat-y;
	background-position: 20% -15%;
}
hr {
	border: 1px solid #f5dfa9;
	opacity: 0.9;
}
#content {
	background-color: rgb(245, 223, 169);
	background-color: rgba(245, 223, 169, 0.9);
}


/*	LAYOUT
********************************/
hr {
	margin-top: 3px;
	margin-bottom: 3px;
}
p {
	margin: .5em .5em;
}
.nav {
	display: inline-block;
}
#pad {
	padding: 2.5%;
}
#header, #content, #footer, hr {
	margin-right: 3em;
	margin-left: 3em;
}
#header {
	margin-top: 1em;
	margin-bottom: 1em;
}
#header h1 {
	margin: .1em .2em .1em 0;
	display: inline-block;
}
#header .nav a {
	margin: 1em .5em 1em .2em;
}
#content {
	display: block;
	padding: 0.5em;
}
#footer {
	margin-top: .5em;
	margin-bottom: 2em;
	float: right;
}
#footer h2 {
	display: inline-block;
	margin: .1em .3em;
}
#footer .nav a {
	margin: 1em .2em 1em .5em;
}


/*	RESPONSIVE 
********************************/
@media screen and (max-width: 857px) {
	#header, #content, #footer, hr {
		margin-right: 1em;
		margin-left: 1em;
	}
	#header h1 a {
		font-size: 6em;
	}
	p {
		font-size: 1.8em;
		line-height: 1.15em;
		margin: .5em .5em;
	}
	.nav a {
		font-size: 1.8em;
	}
}

@media screen and (max-width: 549px) {
	#content, hr {
		margin-right: 0;
		margin-left: 0;
	}
	#header, #footer {
		margin-right: 1em;
		margin-left: 1em;
	}
	p {
		padding: 0 0.5em;
	}
	#header h1 a {
		font-size: 4em;
	}
	p {
		font-size: 1.2em;
		line-height: 1.15em;
		margin: .5em .5em;
	}
	.nav a {
		font-size: 1.2em;
	}
	#footer {
		font-size: 0.8em;
	}
}